// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

//
a.post-link {
    color: black;
    @include relative-font-size(1.5);
}


// Customize table style
table {
    @include relative-font-size(0.87); /* JAC */
    width: auto;
    max-width: 100%; /* no effect currently */
}


// This is the date for the post
p.post-meta {
    margin-bottom: $spacing-unit / 6;
}

/* Adjust margin at the bottom of a post listing */
.post-list {  
    > li {
      margin-bottom: $spacing-unit / 1.5 ;
    }
  }