// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

//
a.post-link {
    color: black;
    @include relative-font-size(1.5);
}


// Customize table style
table {
    @include relative-font-size(0.87); /* JAC */
    width: auto;
    max-width: 100%;
    border: none;
    /* center the table */
  /*  margin-left:auto; 
    margin-right:auto; */
 /*   display: table; */
}


// This is the date for the post
p.post-meta {
    margin-bottom: $spacing-unit / 6;
}

/* Adjust margin at the bottom of a post listing */
.post-list {  
    > li {
      margin-bottom: $spacing-unit / 1.5 ;
    }
  }

  /* JAC changed to inline-block from block */
/*
  @include media-query($on-laptop) { 
    display: inline-block;  
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
            -ms-overflow-style: -ms-autohiding-scrollbar;
  } */

  /* Custom heading styles */
  .post-content {
    margin-bottom: $spacing-unit;
  
    h1, h2, h3 { margin-top: $spacing-unit }
    h4, h5, h6 { margin-top: $spacing-unit / 1.5 }
  }

.post-title,
.post-content h1 {
  @include relative-font-size(2.1);
  letter-spacing: -1px;
  line-height: 1.15;

  @media screen and (min-width: $on-large) {
    @include relative-font-size(2.3);
  }
}

/* Post thumbnail sizing */
img.post-thumbnail {
  /* if on small screen then don't float the image */
  height: auto;
  max-width: 200px;
  max-height: 130px;
  float: none;
  padding-bottom: 10px;

  /* if on larger screen then float thumbnail image left */
  @media screen and (min-width: 400px) {
    float: left;
    padding-right: 10px;
    padding-bottom: 0px;
  } 
}

a.post-link {
  clear: both;
  padding-top: 5px;
}

// .post-thumbnail {
//   padding-right: 100px;
// }